.bundle
.byebug*
Dockerfile
brakeman.html
db/*_angular
db/migration.sql
db/*.zip
log/*.log
tmp/
nbproject/
*.log
*.bak
db/schema.rb
*.patch
.DS_Store
.PBSyncDB
*.orig
.tmproj
*.iml
.idea/
.loadpath
.project
db/migration_sql_generator/*
db/migration_sql/*
tmp
patch.tgz
config/version.txt
*.rails2
upgrade-check.txt
vendor/plugins/rails_upgrade/
script/scpelinux.sh
public/assets
*patch*.zip
vendor/cache/*
!vendor/cache/gefa*
!vendor/cache/datetimepicker-rails-4.7.16.gem
*.swp
db/Datenbankabzuege/Produktionsdaten
.sass-cache
*bpv*.tar.gz
public/api/*
public/api-docs.json
