.col-md-10
  %form#first.tab-pane.active.form-horizontal{:name => "userForm", "ng-submit" => "save()", :novalidate => ""}
    %h3.block
      = I18n.t('user.create_new_user')
    %div{"ng-include" => "", :src => "'users/_form.html'"}
